<h2 class="page-header">Add Account</h2>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<input type="text" class="form-control" ng-model="name" placeholder="name"><br>
		<input type="text" class="form-control" ng-model="deposit" placeholder="deposit"><br>
		<input type="text" class="form-control" ng-model="cCard" placeholder="cCard"><br>
		<input type="text" class="form-control" ng-model="city" placeholder="city"><br>
		<button class="form-control btn btn-primary" ng-click="addAccount()">Add Account</button>
	</div>
</div>